# Kafka & Confluent Cloud Configuration
BOOTSTRAP_SERVERS=your-bootstrap-servers:9092
API_KEY=your_kafka_api_key
API_SECRET=your_kafka_api_secret
TOPIC_NAME=credit_card_transactions

# Simulation Settings
TRANSACTIONS_PER_SECOND=5
FRAUD_PERCENTAGE=0.08
TOTAL_CUSTOMERS=1000
TOTAL_MERCHANTS=200
RANDOM_SEED=42
